@import "../../theme/variables";

.single-photo{
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &-content{
    width: 50%;
    text-align: center;
    margin-top: $header-height;

    &-title {
      margin: $default-space 0;
    }

    &-date{
      opacity: .8;
    }

    &-description{
      margin: 40px 0;

      & p{
        margin: 5px 0;
      }
    }
  }


  & .image-container{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -2;

    & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-blur{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    z-index: -1;
    background: rgba(33, 33, 33, 0.5);
    box-shadow: inset 0px 4px 250px 100px #212121;
  }
}

.related-photos{
  width: 100%;
  background-color: $primary-color;
  padding: $default-padding;
  text-align: center;

  &-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: $default-space 0;

    &-el{
      flex: 1 1 calc(25% - $default-space * 2);
    }
  }
}

