@import "../../theme/variables";

.slick-track{
  display: flex;
  align-items: center;
}

.slick-active{
  .photo-card{
    opacity: 1;

    &.interactive{
      transform: scale(1);

      & .photo-card-link{
        pointer-events: all;
      }
    }

    &-content{
      &-notify{
        opacity: 1;
      }
    }
  }
}

.photo-card{
  position: relative;
  margin: 0 $default-space;
  opacity: .8;
  will-change: auto;
  transition: 300ms all ease-in-out;


  &.interactive{
    transform: scale(0.85);

    & .photo-card-link{
      pointer-events: none;
    }
  }

  &-content{
    cursor: pointer;

    &-author{
      margin: 10px 0;
      font-weight: $bold;
    }

    &-notify{
      transition: 300ms all ease-in-out;
      opacity: 0;
    }
  }

  &-link{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    margin:0 auto;
  }
}