@import "../../theme/variables";

header.header{
  width: 100%;
  padding: $default-padding;

  & .navigation{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-main{

      & a{
        &:last-child{
          margin-left: $default-space;
        }
      }
    }

    & .logo{
      font-family: $secondary-font;
      color: $primary-color;
    }
  }
}