@import "variables";
@import "reset";
@import "layout.scss";

body{
  font-family: $primary-font;
  background-color: $secondary-color;
  color: $primary-color;
}

.primary-link{
  color: $primary-color;
    &.active{
      text-decoration: underline;
    }

}