@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Pacifico&display=swap');

/*
* Fonts
*/

$font-sizes: 60px, 48px, 36px, 30px, 24px, 18px;
$default-size: 16px;

$bold: 700;
$regular: 400;
$light: 300;

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Pacifico', cursive;

/*
* Layout standards
*/

$default-padding: 4em;
$default-space: 20px;

/*
* Colors
*/

$primary-color: #212121;
$secondary-color: #DBDBD4;