@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Pacifico&display=swap');

/*
* Fonts
*/

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Pacifico', cursive;

/*
* Layout standards
*/

$default-padding: 1em;
$default-space: 15px;

/*
* Colors
*/

$primary-color: rgba(52, 52, 52, 1);
$secondary-color: #DBDBD4;